table {
  width: 400px;
  border: 1px solid red;
  /* border-collapse: collapse; /* 칸 간격 조절 */
  table-layout: fixed; /* 칸 너비 일정하게. 단, table 너비값이 있어야함 */
  caption-side: top; /* 캡션위치 조절 ( 위 / 아래 ) */
  empty-cells: hide; /* 빈칸 없애기 */
  text-align: center;
}
td {
  border: 1px solid red;
}
img {
  width: 50px;
  vertical-align: middle; /* inline, 테이블 칸들에 수직정렬 */
}