body {
  background-image: url(../../images/kakaofriends.gif);
  background-repeat: no-repeat;
  background-size: 400px 200px;
  background-position: center center; /* top bottom center   left right center */
  height: 3000px;
  background-attachment: fixed; /* 이미지 위치고정 */

  background: skyblue 
              url(../../images/kakaofriends.gif) 
              no-repeat center center fixed;
  background: linear-gradient(to right bottom, blue, pink);
  background: radial-gradient(circle, skyblue, yellowgreen);
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
h1 {
  background-color: pink;
}
p {
  background-color: rgb(255, 100, 25);
}
.bg {
  background-color: rgba(100, 250, 50, 0.4);
}